<div class="row">
  <!-- 左コンテンツ -->
  <div class="col-md-10">
    <h4>
      <%= render "layouts/search_form" %>
    </h4>
  </div>
  <div class="col-md-2">
  <% if current_user.present? %>
    <h5>メモ</h5>
    <% end %>
  </div>
</div>


<div class="container">
  <div class="row">
    <!-- 左コンテンツ -->
    <div class="col-md-11">
      <iframe id="webgl-frame" class="iframe-inner" src="https://object-storage.tyo1.conoha.io/v1/nc_df3bdbc45bc04950b558834f5728517a/unityroom_production/game/26428/webgl/play.html" width="960px" height="540px frameborder=" scrolling="auto"></iframe>
    </div>
    <!-- 右サイドメニュー -->
    <div class="col-md-1">
      <div class="area line-height-1">
        <% if current_user.present? %>
          <% current_user.used_words.reverse.each do |item| %>
            <p><%= link_to item.word,{:controller=>"items",:action=>"wordSearch",word: item.word, search:"perfect_match", data: {"turbolinks" => false}}%></p>
          <% end %>
        <% end %>
      </div>
    </div>
 </div>
</div>


        <h3>ENspider</h3>
        <p>制限時間内に落ちてるアルファベットを集め、どれだけ英単語を作つことができるか競います。</p>
        <h3>基本操作</h3>
        <p>矢印キー: 移動</p>
        <p>Zキー: アルファベットを拾う</p>
        <p>Xキー: アルファベットを置く</p>
        <p>Cキー: セットしたアルファベットで英単語を作成</p>
        <h3>ルール</h3>
        <p>・青いタイルに接してる白いタイルにのみ、アルファっベトをセットすることができる。</p>
        <p>・セットできるとタイルの色が赤色になる。</p>
        <p>・アルファベットをセットする際、離れたタイルにはセットすることはできないので注意。</p>
        <p>・単語ができたらタイルの上でCキーを押すことで単語を作ることができる。</p>
        <p>・英単語間違ってたら作れない。</p>
        <p>・一文字の英単語は作ることができない。</p>
        <p>・単語はセットしたアルファベットの順番に作成される。</p>
        <p>例: o → n という順番にセットすれば"on"</p>
        <p>n → o という順番なら"no"という単語を作られる。</p>
        <p>・間違えて設置したアルファベットは拾い直すことができる。</p>
        <p>・間違って拾ったやつ捨てることができる。</p
      