p {
  font-size: 1.3em;
  line-height: 1.2em;
  padding: 0px 20px 0px 0px;
}



.container {
  width: 100%;
  padding-right: 15px;
  margin-right: auto;
  margin-left: 5%;
}

@media (max-width: 899px) {
  iframe {
    width: 640px;
    height: 360px;
  }

  .container {
    width: 100%;
    padding-right: 15px;
    margin-right: auto;
    max-width: 700px;
  }
}

@media (min-width: 1200px){
  .container {
    max-width: 1340px;
  }

  iframe {
    width: 960px;
    height: 540px;
  }
  
}
